@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: red;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    font-size: 3rem;
}

.directories {
    font-size: 1.5rem;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 2rem;
    width: 60%;
    background-color: beige;
    border: 5px solid brown;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: brown;
    color: beige;
}

.title h2 {
    font-size: 1.5rem;
}

.title p {
    font-size: 1rem;
}

.content {
    color: brown;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}